<app-navbar></app-navbar>
<div class="container-fluid body">
  <div class="row">
    <div class="bg-image"><img src="../../../assets/images/projecttracker.jpg" alt=""
      width="100%" height="100%" class="img-fluid"></div>
  </div>
  <div class="row align-items-center bg-text">
      <div class="col">
          <h4>Project Tracker <span><i class="fa-solid fa-computer"></i></span></h4>
          <div class="about text-center">
          <p style="font-size: 25px; color: white; font-weight: 600;">
              Project Tracker is a web application that helps students<br>
              track the applications they have created <br>
              in their learning process. They also get to invite <br>
              collaborators to the projects and collaborate.</p><br>
          </div>
          <div class="buttons d-grid gap-2 d-md-block">
              <a routerLink="/landing" class="button"><button class="btn">
                  Dashboard </button></a>&nbsp;
          </div>
  </div>
</div>
</div>
<app-footer></app-footer> 
