<div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #101F3C; font-family: 'Quicksand', sans-serif;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: #F9573F; font-weight: 900;">Project Tracker Dashboard</a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: #F9573F; font-weight: 600;"> 
              Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #F9573F; font-weight: 600;">
              Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #F9573F; font-weight: 600;"> 
              Logout <span><i class="fa-solid fa-right-from-bracket"></i></span></a>
          </li>
        </ul>
      </div>
    </nav>

  <!--about us-->
  <div class="bg-image"></div>
    <div class="bg-text">
      <h2 style="font-size: 3em; color: #F9573F;">Project Tracker</h2>
      <p style="font-size: 25px; color: white; font-weight: 600;"> 
        Project Tracker is a web application that helps students track the applications<br>
        they have created in their learning process. They also get to invite collaborators to the projects and collaborate.</p>
    </div>
  

  <!--footer-->
  <footer>
    <div class="footer-content">
      <h5>Contact Us</h5>
      <ul class="socials" style="position: relative; right: 15px;">
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
      </ul>
      <div class="footer-bottom">
        <p style="position: relative; left: 10%;">Copyright &copy;2022 <a href="#" 
          style="text-decoration: none; color: aliceblue;"> ProjectTracker</a> </p>
      </div>
    </div>
  </footer>
</div>  
