<app-navbar></app-navbar>
<div class="container-fluid">
  


    <div class="bg-text">
      <h2 style="font-size: 3em; color: #F9573F;">Project Tracker</h2>
      <p style="font-size: 25px; color: white; font-weight: 600;"> 
        Project Tracker is a web application that helps students track the applications<br>
        they have created in their learning process. They also get to invite collaborators to the projects and collaborate.</p>
    </div>
  

  <!--footer-->
  <footer>
    <div class="footer-content">
      <h5>Contact Us</h5>
      <ul class="socials" style="position: relative; right: 15px;">
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
      </ul>
      <div class="footer-bottom">
        <p style="position: relative; left: 10%;">Copyright &copy;2022 <a href="#" 
          style="text-decoration: none; color: aliceblue;"> ProjectTracker</a> </p>
      </div>
    </div>
  </footer>
</div>  
