<footer>
    <div class="footer-content">
      <h5>Contact Us</h5>
      <ul class="socials" style="position: relative; right: 15px;">
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
      </ul>
      <div class="footer-bottom">
        <p style="position: relative; left: 10%;">Copyright &copy;2022 <a href="#"
          style="text-decoration: none; color: aliceblue;">ProjectTracker</a> </p>
      </div>
    </div>
  </footer>