
  <div class="container-fluid navy">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color: #101F3C; font-family: 'Quicksand', sans-serif;">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/landing" style="color: #F9573F; font-weight: 900;">Project Tracker Dashboard</a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active bar" aria-current="page" routerLink="/landing" style="color: #F9573F; font-weight: 600;"> 
              Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active bar" routerLink="/profile" style="color: #F9573F; font-weight: 600;">
              Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active bar" routerLink="/about" style="color: #F9573F; font-weight: 600;">
              Projects</a>
          </li>
          <li class="nav-item active bar">
            <a class="nav-link active bar" style="cursor:pointer;" (click)="logoutUser()" style="color: #F9573F; font-weight: 600;"> 
              Logout <span><i class="fa-solid fa-right-from-bracket"></i></span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
