.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 60%;
  right: 0;
  background: #f09d51;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: all 0.3s linear;
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: #fff;
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: all 0.3s linear;
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.technology{
    padding: 0.5rem;
    width: auto;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #f09d51;
    color: #fff;
}
ul li {
    list-style-type: none;
    line-height: 25px;
}

