<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center mt-5 projects">Projects</h3>
            <hr>
        </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mt-2 d-flex justify-content-start align-items-start" *ngFor="let project of projects; let i = index">
                <div class="img-container">
                    <img src="{{project.image}}" alt="product" class="product-img">
                    <button class="bag-btn" data-id="1">
                        <i class="fas fa-shopping-cart"></i>
                        View Project
                    </button>
                </div>
                <div class="project-detail">
                    <ul>
                        <li><span class="info">Project Name: </span> <span class="details">{{project.project_name}}</span></li>
                        <li><span class="info">Category: </span> <span class="details">{{project.category}}</span></li>
                        <li><span class="info">Project Description: </span> <span class="details">{{project.description}}</span></li>
                        <li><span class="info">Technologies: </span> <span class="technology mt-2">{{project.technologies}}</span> </li>
    
                    </ul>
                </div>
            </div>
        </div>
    
</div>