<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
    </div>
  </nav>
<div class="container">
    <h4 class="d-flex justify-content-center">Add Project</h4>

    <form (ngSubmit)="onSubmit()">
            <input type="text" name="text" [(ngModel)]="text" class="form-control" id="text" placeholder="Project Name">
            <textarea class="form-control" name="textarea" id="Textarea" rows="3" placeholder="Project Description" type="text"></textarea>
            <input type="text" class="form-control" name="members" id="members" placeholder="Project Members">
            <input type="text" class="form-control" name="link" id="link" placeholder="Project Link">
            <input class="form-control" name="file" type="file" id="formFile">
    </form>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" type="Submit">Add Project</button>
      </div>
</div>