.container{
    max-width: 50%;
    background-color: rgb(19, 113, 153);
    border-radius: 10px;
    margin-top: 10px;
    
}

.navbar{
    background-color: grey;
}

.d-grid{
    padding-bottom: 15px;
}
