*{
    background-image: url("images/projecttracker.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.container{
    max-width: 50%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
}

.navbar{
    background-color: rgb(3, 3, 43);
}

.d-grid{
    padding-bottom: 15px;
}
.btn{
    background-color: #F9573F;
}

.form-control{
    margin-top: 20px;
    margin-right: 20px;
    background: transparent;
    
}

#link{
    background-color: white;
}
#members{
    background-color: white;
}
#Textarea{
    background-color: white;
}
#text{
    background-color: white;
}

#formFile{
    background-color: white;
    margin-bottom: 20px;
}
.ng-model .ng-touch{
    color: red;
}