<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c25ede606d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./landing.component.css">
  <title>Project Tracker</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #0F1E3A; font-weight: 800;">Project Tracker Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-text" style="color: #0F1E3A; font-weight: 500;">
        Logout
      </span>
    </div>
  </nav>

  <!--side navbar-->
  <div class="sidebar">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <button class="btn-light btn-lg" type="submit">About</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <button class="btn-light btn-lg" type="submit">Profile</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <button class="btn-light btn-lg" type="submit">Add project</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <button class="btn-light btn-lg" type="submit">Contact Us</button>
        </div>
      </div>
    </div>  
  </div>

  <!--track-->
  <div class="android">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-6">
          <img src="../../../assets/images/android.png" class="rounded float-end" alt="..." width="300px" height="350px"> 
        </div>
        <div class="col-4">
          <button class="btn-light btn-lg" type="submit" style="background-color: #0F1E3A; color: aliceblue;">
            Android Development</button>
        </div>      
      </div>
    </div>
  </div>
  <div class="web">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-6">
          <img src="../../../assets/images/web.png" class="rounded float-end" alt="..." width="300px" height="350px"> 
        </div>
        <div class="col-4">
          <button class="btn-light btn-lg" type="submit" style="background-color: #0F1E3A; color: aliceblue;">
            Web Development</button>
        </div>      
      </div>
    </div>
  </div>
</body>
</html>