<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c25ede606d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./landing.component.css">
  <title>Project Tracker</title>
  
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #101F3C; font-family: 'Quicksand', sans-serif;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: #F9573F; font-weight: 900;">Project Tracker Dashboard</a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: #F9573F; font-weight: 600;"> 
              Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #F9573F; font-weight: 600;">
              Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #F9573F; font-weight: 600;"> 
              Logout <span><i class="fa-solid fa-right-from-bracket"></i></span></a>
          </li>
        </ul>
      </div>
    </nav>
  
    <!--side navbar-->
    <div class="sidebar">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <button class="btn-light btn-lg" type="submit">About</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <button class="btn-light btn-lg" type="submit">Profile</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <button class="btn-light btn-lg" type="submit">Add project</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <button class="btn-light btn-lg" type="submit">Contact Us</button>
          </div>
        </div>
      </div>  
    </div>
  
    <!--track-->
    <div class="android">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <img src="../../../assets/images/androidremovebg.png" class="rounded float-end" alt="..." width="300px" height="350px"> 
            <br>
            <button class="btn-light btn-lg btns" type="submit" style="background-color: #0F1E3A; color: aliceblue;">
              Android Development</button>      
          </div>
        </div>
      </div>
    </div>
  
    <div class="web">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6" style="display: flex; flex-direction: column; justify-content: center;">
            <div class="image">
              <img src="../../../assets/images/web.png" class="rounded float-end" alt="..." width="300px" height="350px"> 
            </div>
            <div class="button">
              <button class="btn-light btn-lg btns" type="submit" style="background-color: #0F1E3A; color: aliceblue;">
                Web Development</button>
            </div>
          </div>      
        </div>
      </div>
    </div>  
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <button class="btn btn-block btn-light btn-lg buttn" type="submit" style="background-color: #F9573F; color: aliceblue;">
          Choose Track to View and Contribute to Projects</button>
      </div>
    </div>
  </div>
</body>
</html>