   
<section class="first">
    <section class="content" >
        <h2 id="header">More than 1000+ projects all in one place</h2>
    </section>
    
    <div class="frontimg">
        <img src="../../../assets/auth-images/login.jpg" alt="front img" height="600px" width="750px">
    </div>




<div class="bookers">
    <h3 id="reg">Please Login</h3>
    <form #loginForm="ngForm" novalidate (ngSubmit)="onLogin()">


        <input type="email" placeholder="Email" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
        class="form-control"   name="email" ngModel email>
        <small class="text-danger" [class.d-none] =" email.valid || email.untouched">Email is required in email format</small>
       
    
        <input type="password" placeholder="Password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched"
        class="form-control" name="password" ngModel>
        <small class="text-danger" [class.d-none] ="password.valid || password.untouched">Password is Required</small>

    <div class="already">
        <a routerLink="/register">Don't' have an account please register</a>
    </div>

    <button [disabled]="loginForm.form.invalid" type="submit">Login</button>



</form>
</div>
</section>



