<app-navbar></app-navbar>
<section class="first">
    <div class="frontimg">
        <img src="../../../assets/auth-images/editprofile.jpg" alt="front img" height="600px" width="650px">
    </div>
<div class="bookers">
    <h3 id="reg">Edit Your Profile</h3>
    <form>
<div class="avar">
<img src="https://cdn.pixabay.com/photo/2021/12/21/08/29/owl-6884773_960_720.jpg" class="avatar"
    alt="avatar">
</div>

    <div class='insameline'> 
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <input type="text" placeholder="Username">

</div>

<div class='insameline-1'> 
    <input type="text" placeholder="phone"> 
    <input type="text" placeholder="Bio"> 
    <div class="upload">
        <input type="file" class="form-control" id="customFile" />
        </div>     

</div>


<a href="#"><button type="button">Update</button></a>
</form>
</div>
</section>