

.pro{
    justify-content: center;
    display: flex;
}
.pro img:hover{
    background-color: grey;
    height: 200px;
    width: 250px;
}
.d-flex{
    padding: 5px;
}

.projects{
    display: flex;
    justify-content: space-between;
}

.card:hover{
    background-color: blue;
}

.follow{
    display: flex;
    justify-content: center;
    padding-right: 50px;
}

.icon{
    display: flex;
    flex-direction: column-reverse;
}
.navbar{
    background-color: grey;
}
.card-link.card:hover{
    text-decoration: white;
}