

.pro{
    justify-content: center;
    display: flex;
}

.d-flex{
    padding: 5px;
}

.projects{
    display: flex;
    justify-content: space-between;
}

.follow{
    display: flex;
    justify-content: center;
    padding-right: 50px;
}

.icon{
    display: flex;
    flex-direction: column-reverse;
}
.navbar{
    background-color: rgb(2, 2, 44);
}
.card-link.card:hover{
    text-decoration: white;
}
button{
    margin: 20px;
    background-color: #020000;
}

button:hover{
    background-color: rgb(29, 29, 233);
    
    
}

