/* .container-fluid {
  background-color: #F1f5f8;
  margin-top: -10re;
} */
.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
  }
  .projects {
    text-transform: uppercase;
    color: #F9573F;
  }
  .single {
      display: flex;
      justify-content: space-between;
      /* align-items: center; */
  }
  .members-info {
    display: flex;
    justify-content: space-between; 
  }
  .button {
      background-color: #f09d51;
      padding: 5px;
      color: #F9573F;
      border-radius: 20px;
      color: #fff ;
      border: none; 
  }
  .button:hover {
    background-color: rgb(128, 115, 115);
    color: #fff;
    text-transform: uppercase;
  }
  ul li {
    list-style-type: none;

  }
  ul li a {
      text-decoration: none;
  }
  ul li a:hover {
      color: #F9573F;
  }

  .technology{
    padding: 0.5rem;
    width: auto;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #f09d51;
    color: #fff;
}
ul li {
    list-style-type: none;
    line-height: 25px;
}

.details {
    color: #4f86e6 ;
}
.info {
  font-weight: bold;
  font-weight: 1.1rem;
}

.btn-success {
    background-color: #F9573F;
    border: none;
}